.container-list {
  list-style: none;
  margin: 20px 0;
}

.url-list.item,
.url-list.item-head {
  display: flex;
  margin: 10px 0;
  font-size: 18px;
}
.url-list.item-head {
  border: 0.1px solid var(--nav-bg-color);
}
.url-list.cell {
  flex: 4;
  padding: 10px 5px;
  background: var(--white-color);
  word-break: break-all;
  border-left: 0.1px solid var(--nav-bg-color);
}

.url-list.head {
  flex: 4;
  padding: 5px 0;
  text-align: center;
  border-left: 0.1px solid var(--nav-bg-color);
}
.url-list.head.stats,
.url-list.cell.stats {
  max-width: 60px;
  border: none;
  text-align: center;
}

.pagination.wrapper {
  display: flex;
}
.pagination.btn {
  width: 30px;
  height: 30px;
  margin: 0 2px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  background: var(--nav-bg-color);
  color: var(--white-color);
  border: 0.1px solid var(--nav-bg-color);
  border-radius: 5px;
}
.pagination.btn.active {
  background: var(--hover-color);
  color: var(--white-color);
}
